<h1>Users#register</h1>
<p>Find me in app/views/users/register.html.erb</p>
<% unless flash[:error].nil? %>
  <span style="color: red"><%= flash[:error] %></span>
<%  end %>
<!--suppress HtmlUnknownTarget -->
<form method="post" action="/users/register">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label>Username: <input type="text" name="user[username]"></label><br/>
  <label>Password: <input type="password" name="user[password]"></label><br/>
  <label>Confirm: <input type="password" name="user[password_confirmation]"></label><br/>
  <button type="submit">Login</button>
</form>
