<h1><%= @post.title %></h1><hr/>
<small><%= @post.created_at %></small>
<p><%= @post.contents %></p>

<h3>Comments</h3><hr/>
<% if @user.nil? %>
  <a href="/users/register?next=<%= request.path %>">Register</a> or
  <a href="/users/login?next=<%= request.path %>">Login</a>
<% else %>
  <form method="post" action="/posts/<%= @post.path %>/comment">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label><textarea name="message"></textarea></label><br/>
    <button type="submit">Add comment</button>
  </form>
<% end %>

<div>
  <% @post.comments.order(created_at: :desc).each do |comment| %>
    <p style="border-bottom: 1px solid #ccc">
      <strong><%= comment.user.username %>: </strong><br/>
      <span><%= comment.message %></span><br/>
      <small><%= comment.created_at %></small>
    </p>
  <% end %>
</div>
